<head>
    <title>Copado Branch Visualizer</title>
    <link href="./css/halfmoon.min.css" rel="stylesheet" />
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
        integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
        crossorigin="anonymous"
    />
    <script src="./halfmoon.min.js"></script>
    <script type="module" src="./git.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@gitgraph/js"></script>
</head>

<div class="modal" id="deployToOrg" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="close" data-dismiss="modal" type="button" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span class="modal-title">User Stories to deploy to: </span>
            <span id="deployToOrg-org" class="modal-title"></span>
            <div class="container-fluid pt-10">
                <div id="deployToOrg-stories" class="row justify-content-between"></div>
            </div>
            <div class="text-right mt-20">
                <!-- text-right = text-align: right, mt-20 = margin-top: 2rem (20px) -->
                <button class="btn mr-5" data-dismiss="modal" type="button">Cancel</button>
                <button class="btn btn-primary" data-dismiss="modal" type="button" onclick="git.promoteAndDeploy()">
                    Promote and Deploy
                </button>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper with-navbar with-sidebar">
    <!-- Navbar -->
    <nav class="navbar">
        <span class="content-title">Copado SFDC Branch Visualizer</span>
        <div class="ml-auto mr-10">
            <button class="btn" type="button" onclick="halfmoon.toggleDarkMode()">
                <i class="far fa-moon"></i>
            </button>
        </div>
    </nav>

    <div class="sidebar">
        <div class="sidebar-menu">
            <h5 class="sidebar-title">Create User Story</h5>
            <div class="sidebar-divider"></div>
            <a href="#" class="sidebar-link" onclick="git.createUserStory('dev1')">Dev 1</a>
            <a href="#" class="sidebar-link" onclick="git.createUserStory('dev2')">Dev 2</a>
            <br />
            <h5 class="sidebar-title">Deploy to Org</h5>
            <div class="sidebar-divider"></div>
            <a href="#" class="sidebar-link" onclick="git.deployToOrg('dev1')">Dev 1</a>
            <a href="#" class="sidebar-link" onclick="git.deployToOrg('dev2')">Dev 2</a>
            <a href="#" class="sidebar-link" onclick="git.deployToOrg('qa')">QA</a>
            <a href="#" class="sidebar-link" onclick="git.deployToOrg('main')">Prod</a>
        </div>
    </div>

    <!-- Content wrapper -->
    <div class="content-wrapper">
        <div class="content">
            <div id="graph-container"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    halfmoon.toggleDarkMode();
</script>
